.editable-style { 
	box-shadow: 0px 0px 1px #888888;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: moz-none;
	-ms-user-select: none;
	user-select: none;
	cursor: move;
}
.editable-style:hover { 
	box-shadow: 0px 0px 5px #888888;
	opacity: 1 !important;
}
.editable-style.silex-selected{
	border: 1px solid #666666;
}
.editable-style.locked-style,
.editable-style.locked-style .editable-style,
.editable-style.background{
	cursor: pointer;
	margin-bottom: 30px;
}
.silex-stage{
	background-color: #CCCCCC;
	height: 100%;
	position: absolute;
	left: 220px;
}
.silex-stage-body{
	height: 100%;	
	overflow: auto;
	padding: 5px;
	padding-bottom: 0;
	position: relative !important; /* because it is changed as body style */
}
/* resizable skin *
.editable-style.silex-selected .ui-resizable-n,
.editable-style.silex-selected .ui-resizable-s,
.editable-style.silex-selected .ui-resizable-e,
.editable-style.silex-selected .ui-resizable-w
{
	background-color: #333333;
	border: 1px solid #666666;
}
/* */
.ui-icon-gripsmall-diagonal-se{
	background-image: none;
}
.editable-style.silex-selected>.ui-resizable-se,
.editable-style.silex-selected>.ui-resizable-sw,
.editable-style.silex-selected>.ui-resizable-ne,
.editable-style.silex-selected>.ui-resizable-nw
{
	background-color: #333333;
	border: 1px solid #666666;
	width: 5px !important;
	height: 5px !important;
}
.editable-style.silex-selected>.ui-resizable-se{
	bottom: -7px;
	right: -7px;
}
.editable-style.silex-selected>.ui-resizable-sw{
	bottom: -7px;
	left: -7px;
}
.editable-style.silex-selected>.ui-resizable-ne{
	top: -7px;
	right: -7px;
}
.editable-style.silex-selected>.ui-resizable-nw{
	top: -7px;
	left: -7px;
}
